
<div class="text-center">
  <h2>{{blogs.title}}</h2>

  <p>{{blogs.description}}</p>
  <p>Created by {{blogs.User.name}} on {{format_date blogs.date_created}}</p>
  <p>{{blogs.Comments.comments}}</p>  
  <p>
    <button class="btn btn-primary">Add a Comment!</button>
     {{!-- <button class="commentBtn btn-secondary">Add a Comment!</button> --}}
  </p>
